<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @story.name %>
</p>

<p>
  <b>Difficulty:</b>
  <%= @story.difficulty %>
</p>

<p>
  <b>Context:</b>
  <%= @story.context %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
